streamlit
langchain
langchain_ollama
langchain-community
langchainhub
huggingface_hub 
langchain_huggingface
plotly
ollama
pydantic
typing
matplotlib
os

networkx

    # Add any other required libraries here
